<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>颜色列表</title>
    <script type="text/javascript">
        $(function () {
            //新增
            $("#addColor").click(function () {
                $('#addColorModel').modal({
                    keyboard: false,
                    show:true
                })
            })
            //保存
            $("#save").click(function () {
                var colorId = $("#colorId").val();
                var colorName = $("#colorName").val();
                var colorState = $("#colorState option:selected").val();
                if(colorName.length > 10){
                    alert("颜色名称多于10字，请重新输入");
                    return;
                }
                //查询条件
                var searchColorState = $("#searchColorState").val();
                var searchColorName = $("#searchColorName").val();
                var currentPage = $("#currentPage").val();
                if(colorId == null || colorId == ""){
                    var url = "/manager/addColor?colorName="+colorName+"&colorState="+colorState+"&method=add"
                        +"&currentPage="+currentPage+"&searchColorState="+searchColorState+"&searchColorName="+searchColorName;
                }else{
                    var url = "/manager/updateColorById?colorId="+colorId+"&colorName="+colorName+"&colorState="+colorState+"&method=add"
                        +"&currentPage="+currentPage+"&searchColorState="+searchColorState+"&searchColorName="+searchColorName;
                }
                $(".content").load(url);
                $(".modal-backdrop").remove();
            })
            //修改
            $(".updateColor").click(function () {
                var id = $(this).parent().parent().children("td:eq(0)").text();
                document.getElementById("gridSystemModalLabel").innerHTML = "修改颜色信息";
                $.ajax({
                    url:"/manager/selectColorById?colorId=" + id,
                    success:function (data) {
                        var color = eval(data);
                        $("#colorId").val(color.id);
                        $("#colorName").val(color.name);
                        $("#colorState").val(color.state);
                    }
                })
                $('#addColorModel').modal({
                    keyboard: false,
                    show:true
                })
            })
            //删除
            $(".deleteColor").click(function () {
                var isDelete = confirm ("确定删除吗？");
                if(isDelete){
                    var id = $(this).parent().parent().children("td:eq(0)").text();
                    //查询条件
                    var searchColorState = $("#searchColorState").val();
                    var searchColorName = $("#searchColorName").val();
                    var currentPage = $("#currentPage").val();
                    var url = "/manager/deleteColor?colorId=" + id + "&method=delete"
                        + "&currentPage="+currentPage+"&searchColorState="+searchColorState+"&searchColorName="+searchColorName;
                    $(".content").load(url);
                }else{
                    return;
                }
            })
        })

        //查询的手动提交方式
        function search(currentPage) {
            var searchColorState = $("#searchColorState option:selected").val();
            var searchColorName = $("#searchColorName").val();
            if(currentPage == null){
                var currentPage = $("#currentPage").val();
            }else{
                var currentPage = currentPage;
            }
            var url = "/manager/colorList?currentPage="+currentPage+"&searchColorState="+searchColorState+"&searchColorName="+searchColorName;
            $(".content").load(url);
        }
    </script>
</head>
<body>
<input type="hidden" name="currentPage" id="currentPage" th:value="${currentPage}">
<div class="modal-body">
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="searchColorName" >颜色名称:</label>
            <input type="text" class="myinput"  placeholder="" id="searchColorName" name="searchColorName" th:value="${condition.name}">
        </div>
        <div class="col-xs-2">
            <label for="searchColorState">颜色状态</label>
            <select class="myinput" name="searchColorState" id="searchColorState">
                <option value="-1" th:selected="${condition.state=='-1'}">全部</option>
                <option value="0" th:selected="${condition.state=='0'}">启用</option>
                <option value="1" th:selected="${condition.state=='1'}">停用</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="search" value="查询" onclick="search(null)"/>
    </div>
</div>
<div class="modal-body">
    <a class="btn btn-default" href="#" role="button" id="addColor" name="addColor">添加颜色信息</a>
</div>
<div class="modal-body">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>颜色名称</th>
            <th>颜色状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="color: ${colorList}">
            <td th:text="${color.id}" hidden></td>
            <td th:text="${color.name}"></td>
            <td th:text="${color.stateStr}"></td>
            <td th:text="${color.ctime!=null}?${#dates.format(color.ctime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <!-- <button th:attr="del_uri=@{/brand/}+${brand.id}" class="btn btn-danger deleteBtn">删除</button>
                 <a th:href="@{/brand/}+${brand.id}">修改</a>-->
                <a class="btn btn-default updateColor" href="#" role="button"  name="updateColor">修改</a>
                <a class="btn btn-default deleteColor" href="#" role="button"  name="deleteColor">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!--新增模态框插件-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="addColorModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">新增颜色信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="" id="addForm">
                    <div class="form-group hidden">
                        <label for="colorId" class="control-label">颜色id:</label>
                        <input type="text" class="form-control" id="colorId" name="colorId" value="">
                    </div>
                    <div class="form-group">
                        <label for="colorName" class="control-label">颜色名称:</label>
                        <input type="text" class="form-control" id="colorName" name="colorName" required>
                    </div>
                    <div class="form-group">
                        <label for="colorState" class="control-label">颜色状态:</label>
                        <select id="colorState" name="colorState" class="form-control">
                            <option value="0">启用</option>
                            <option value="1">停用</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="save">保存</button>
            </div>
        </div>
    </div>
</div>
<!--分页插件-->
<center th:if="${colorList.size() != 0}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li  th:onclick="search([[${pm.startPage}]])"><a href="javascript:void(0);"><span>首页</span></a></li>
            <li  th:onclick="search([[${pm.prePageNum}]])">
                <a href="javascript:void(0);"  aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--<li th:each="i : ${#numbers.sequence(1,1)}" onclick="search([[${i}]])">-->
            <li th:each="i : ${#numbers.sequence(1,pm.totalPageNum)}" th:onclick="search([[${i}]])">
                <a href="javascript:void(0);">
                    <span th:if="${i==pm.currentPageNum}" style = 'color:red;'>[[${i}]]</span>
                    <span th:if="${i!=pm.currentPageNum}">[[${i}]]</span>
                </a>
            </li>
            <li th:onclick="search([[${pm.nextPageNum}]])">
                <a href="#" class="page"  aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:onclick="search([[${pm.endPage}]])"><a href="javascript:void(0);"><span>尾页</span></a></li>
        </ul>
    </nav>
</center>
</body>
</html>