<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" href="../resources/static/manager/css/info.css"></script>
</head>
<body>
<div class="modal-body">
    <h3>订单基础信息</h3><br>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="orderNo">订单编号:</label>
            <span type="text" id="orderNo" name="orderNo" th:text="${order.no}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="customerId">订单客户名称:</label>
            <span type="text"  id="customerId" name="customerId" th:text="${order.customerName}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="totalMoney">订单总金额:</label>
            <span type="text"  id="totalMoney" name="totalMoney" th:text="${order.totalMoney}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="payMoney">订单实际支付金额:</label>
            <span type="text"  id="payMoney" name="totalMoney" th:text="${order.payMoney}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="state">订单状态:</label>
            <span type="text"  id="state" name="state" th:text="${order.stateStr}"></span>
        </div>
    </div>
    <div class="form-group" th:switch="${order.state}">
        <div th:case="'0'">
            <label for="ctime">订单创建时间:</label>
            <span type="text"  id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div th:case="'1'">
            <label for="ctime">订单创建时间:</label>
            <span type="text" id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="payTime">订单付款时间:</label>
            <span type="text"  id="payTime" name="payTime" th:text="${#dates.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div th:case="'2'">
            <label for="ctime">订单创建时间:</label>
            <span type="text" id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="payTime">订单付款时间:</label>
            <span type="text"  id="payTime" name="payTime" th:text="${#dates.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="sendTime">订单发货时间:</label>
            <span type="text"  id="sendTime" name="sendTime" th:text="${#dates.format(order.sendTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div th:case="'3'">
            <label for="ctime">订单创建时间:</label>
            <span type="text"  id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="payTime">订单付款时间:</label>
            <span type="text"  id="payTime" name="payTime" th:text="${#dates.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="sendTime">订单发货时间:</label>
            <span type="text"  id="sendTime" name="sendTime" th:text="${#dates.format(order.sendTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="getTime">订单收货时间:</label>
            <span type="text"  id="getTime" name="getTime" th:text="${#dates.format(order.getTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div th:case="'4'">
            <label for="ctime">订单创建时间:</label>
            <span type="text"  id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="payTime">订单付款时间:</label>
            <span type="text" id="payTime" name="payTime" th:text="${#dates.format(order.payTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="sendTime">订单发货时间:</label>
            <span type="text" id="sendTime" name="sendTime" th:text="${#dates.format(order.sendTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp <br>
            <label for="getTime">订单收货时间:</label>
            <span type="text" id="getTime" name="getTime" th:text="${#dates.format(order.getTime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="rtime">订单完成时间:</label>
            <span type="text"   id="rtime" name="rtime" th:text="${#dates.format(order.rtime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div th:case="'5'">
            <label for="ctime">订单创建时间:</label>
            <span  id="ctime" name="ctime" th:text="${#dates.format(order.ctime, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp &nbsp------&gt;&nbsp &nbsp
            <label for="cancelTime">订单取消时间:</label>
            <span  id="cancelTime" name="cancelTime" th:text="${#dates.format(order.cancelTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
    </div>
    <hr>
    <h3>订单收货信息</h3><br>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="name">收货人姓名:</label>
            <span type="text"  id="name" name="name" th:text="${order.name}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="phone">收货人联系电话:</label>
            <span type="text"  id="phone" name="phone" th:text="${order.phone}"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-3">
            <label for="address">收货人地址:</label>
            <span type="text"  id="provinceName" name="provinceName" th:text="${order.provinceName}"></span>
            <span type="text"  id="cityName" name="cityName" th:text="${order.cityName}"></span>
            <span type="text"  id="areaName" name="areaName" th:text="${order.areaName}"></span>
            <span type="text"  id="address" name="address" th:text="${order.address}"></span>
        </div>
    </div>
</div>
<hr>
<div class="modal-body">
    <h3>订单商品信息</h3><br>
    <table class="table table-hover table-bordered">
        <thead class="thead">
            <tr class="tr">
                <th hidden>ID</th>
                <th hidden>订单ID</th>
                <th>商品名称</th>
                <th hidden>商品子表id</th>
                <th>颜色</th>
                <th>尺码</th>
                <th>价格</th>
                <th>数量</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr th:each="orderInfo :${orderInfoList}" >
                <td hidden th:text="${orderInfo.id}"></td>
                <td hidden th:text="${orderInfo.oId}"></td>
                <td th:text="${orderInfo.goodsName}"></td>
                <td hidden th:text="${orderInfo.skuId}"></td>
                <td th:text="${orderInfo.colorName}"></td>
                <td th:text="${orderInfo.sizeName}"></td>
                <td th:text="${orderInfo.price}"></td>
                <td th:text="${orderInfo.num}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>