<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>完善个人与店铺信息</title>
    <link rel="stylesheet" type="text/css" href="/manager/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/manager/js/jquery.js"></script>
    <script type="text/javascript">
        <!--入口函数-->
        $(function () {
            $('#state').val('1');
        })
    </script>
</head>
<body>
    <div style="width: 800px;height: auto;margin:auto;padding-top: 80px;">
        <div>
            <div>
                <div class="modal-header">
                    <center><h3 class="modal-title">完善信息</h3></center>
                </div>
                <div class="modal-body">
                    <form method="post" action="/manager/storeInfo" id="addForm">
                        <div class="form-group">
                            <label for="username" class="control-label">商家账号名称:</label>
                            <input type="text" class="form-control" id="username" name="username" required th:value="${session.user.username}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="realname" class="control-label">真实姓名:</label>
                            <input type="text" class="form-control" id="realname" name="realname" required th:value="${session.user.realname}">
                        </div>
                        <div class="form-group">
                            <label for="idCard">身份账号:</label>
                            <input type="text" class="form-control" name="idCard" id="idCard" required th:value="${session.user.idCard}">
                        </div>
                        <div class="form-group">
                            <label for="name">店铺名称:</label>
                            <input type="text" class="form-control" name="name" id="name" required placeholder="请输入店铺名称">
                        </div>
                        <div class="form-group">
                            <label for="bussinessNo">营业执照编号：</label>
                            <input type="text" class="form-control" name="bussinessNo" id="bussinessNo" required placeholder="请输入营业制造编号">
                        </div>
                        <!--<div class="form-group">
                            <label for="pic">店招：</label>
                            <input type="text" class="form-control" name="pic" id="pic" required placeholder="请输入店招">
                        </div>-->
                        <div class="form-group">
                            <label for="address">店铺地址：</label>
                            <input type="text" class="form-control" name="address" id="address" required placeholder="请输入店铺地址">
                        </div>
                        <div class="form-group">
                            <label for="telphone">商家电话：</label>
                            <input type="text" class="form-control" name="telphone" id="telphone" required placeholder="请输入个人电话">
                        </div>
                        <!--<div class="form-group">
                            <label for="state">状态：</label>
                            <select class="form-control" id="state" disabled>
                                <option value="0" >可用</option>
                                <option value="1" >不可用</option>
                            </select>
                        </div>-->
                        <!--<div>
                            <label for="bussinessPic">营业执照照片：</label>
                            <input type="file" class="form-control"  name="bussinessPic" id="bussinessPic" ><br/><br/>
                        </div>-->
                        <center><input type="submit" value="完成" class="btn btn-primary"></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>