<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人信息展示</title>
    <script type="text/javascript" src="/static/manager/js/jquery.js"></script>
    <script type="text/javascript">
        $(function () {
            var sex1 = $('#sex1').val()
            if (sex1 == 1) {
                $('#man').attr("checked","checked")
            }else {
                $('#woman').attr("checked","checked")
            }
        })
       function tijiao(){
           $.ajax({
               type: "POST",//方法类型
               dataType: "json",//预期服务器返回的数据类型
               url: "/users/login" ,//url
               data: $('#form1').serialize(),
               success: function (result) {
                   console.log(result);//打印服务端返回的数据(调试用)
                   if (result.resultCode == 200) {
                       alert("SUCCESS");
                   };
               },
               error : function() {
                   alert("异常！");
               }
           })
       }
    </script>
</head>
<body>
<form  action="#" method="post" id="form">
    <input  type="hidden" id="sex1" th:value="${session.user.sex}">
    <h1>个人信息</h1>
    <div >
        <label for="username">账号名称：</label>
        <input type="text" name="username" id="username" required th:value="${session.user.username}">
    </div>
    <br>
    <div >
        <label for="name">真实姓名：</label>
        <input type="text" name="name" id="name" required th:value="${session.user.realname}">
    </div>
    <br>
    <div>
        <div >
            性别：<input id="man" type="radio"  name="sex"  value="男"/>男&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="woman" type="radio"  name="sex"  value="女"/>女
        </div>
        <br>
        <div>
            <label for="phone">电话：</label>
            <input type="text" name="phone" id="phone" required th:value="${session.user.phone}">
        </div>
        <br>
    </div>
    <div>
        <label for="idCard">身份证号：</label>
        <input type="text" name="idCard" id="idCard" required th:value="${session.user.idCard}">
    </div>
    <div>
        <label for="ctime">注册时间：</label>
        <input type="text" name="ctime" id="ctime" required th:value="${session.user.ctime}">
    </div>
    <div>
        <input type="submit" value="修改" class="btn btn-primary" onclick="tijiao()"/>
    </div>
</form><!-- form -->
</body>
</html>