<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.BrandMapper">
    <insert id="insertBrand" parameterType="org.lanqiao.clothes.pojo.Brand">
        insert into tb_goods_brand (name,state,pic,storeId,ctime) values (#{name},#{state},#{pic},#{storeId},now())
    </insert>
    <select id="selectBrandAll" resultType="org.lanqiao.clothes.pojo.Brand">
        select * from tb_goods_brand
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <if test="state != null">
                and state=#{state}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectBrandCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
      select count(1) from tb_goods_brand
      <where>
          <if test="name != null &amp;&amp; name != ''">
              and name like concat ('%', #{name}, '%')
          </if>
          <if test="state != null">
              and state=#{state}
          </if>
      </where>
    </select>

    <delete id="deleteBrandById" parameterType="int">
        delete from tb_goods_brand where id = #{brandId}
    </delete>

    <update id="updateBrandById" parameterType="org.lanqiao.clothes.pojo.Brand">
        update tb_goods_brand set name=#{name},state=#{state},pic=#{pic},ctime=now(),rtime=now() where id=#{id}
    </update>

    <select id="selectBrandById" parameterType="int" resultType="org.lanqiao.clothes.pojo.Brand">
        select * from tb_goods_brand where id=#{id};
    </select>
</mapper>