<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.BrandMapper">
    <insert id="insertBrand" parameterType="org.lanqiao.clothes.pojo.Brand">
        insert into tb_goods_brand (name,state,pic,storeId,ctime) values (#{name},#{state},#{pic},#{storeId},now())
    </insert>
    <select id="selectBrandAll" resultType="org.lanqiao.clothes.pojo.Brand" parameterType="org.lanqiao.clothes.pojo.Condition">
        select * from tb_goods_brand
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <if test="state != -1">
                and state=#{state}
            </if>
            <if test="state == -1">
                and state!=2
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectBrandCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
      select count(1) from tb_goods_brand
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <if test="state != -1">
                and state=#{state}
            </if>
            <if test="state == -1">
                and state!=2
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
    </select>

    <update id="deleteBrandById" parameterType="int">
        update tb_goods_brand set state=2 where id = #{brandId}
    </update>

    <update id="updateBrandById" parameterType="org.lanqiao.clothes.pojo.Brand">
        update tb_goods_brand set name=#{name},state=#{state},pic=#{pic},ctime=now(),rtime=now() where id=#{id}
    </update>

    <select id="selectBrandById" parameterType="int" resultType="org.lanqiao.clothes.pojo.Brand">
        select * from tb_goods_brand where id=#{id}
    </select>

    <select id="selectBrandSelectedList" resultType="org.lanqiao.clothes.pojo.Brand" parameterType="int">
        select id,name from tb_goods_brand where storeId=#{storeId} and state=0
    </select>
</mapper>