<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.ColorMapper">
    <!--新增-->
    <insert id="insertColor" parameterType="org.lanqiao.clothes.pojo.Color">
        insert into tb_goods_color (name,state,storeId,ctime) values (#{name},#{state},#{storeId},now())
    </insert>
    <!--查询所有的-->
    <select id="selectColorAll" resultType="org.lanqiao.clothes.pojo.Color">
        select * from tb_goods_color
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <choose>
                <when test="state==0">
                    and state=#{state}
                </when>
                <when test="state==1">
                    and state=#{state}
                </when>
                <otherwise>
                    and (state=0 or state=1)
                </otherwise>
            </choose>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectColorCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
        select count(1) from tb_goods_color
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <choose>
                <when test="state==0">
                    and state=#{state}
                </when>
                <when test="state==1">
                    and state=#{state}
                </when>
                <otherwise>
                    and (state=0 or state=1)
                </otherwise>
            </choose>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
    </select>
<!--删除-->
    <delete id="deleteColorById" parameterType="int">
        delete from tb_goods_color where id = #{colorId}
    </delete>
<!--修改-->
    <update id="updateColorById" parameterType="org.lanqiao.clothes.pojo.Color">
        update tb_goods_color set name=#{name},state=#{state},ctime=now(),rtime=now() where id=#{id}
    </update>
<!--id查询-->
    <select id="selectColorById" parameterType="int" resultType="org.lanqiao.clothes.pojo.Color">
        select * from tb_goods_color where id=#{id};
    </select>

    <select id="selectColorSelectedList" resultType="org.lanqiao.clothes.pojo.Brand" parameterType="int">
        select id,name from tb_goods_color where storeId=#{storeId} and state=0
    </select>
</mapper>