<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.OrderMapper">
    <!--查询所有的-->
    <select id="selectOrderAll" resultType="org.lanqiao.clothes.pojo.Order">
        select * from tb_order
        <where>
            <if test="no != null &amp;&amp; no != ''">
                and no like concat ('%', #{no}, '%')
            </if>
            <if test="state==-1">
                and (state!=6)
            </if>
            <if test="state!=-1">
                and state!=#{state}
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectOrderCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
        select count(1) from tb_order
        <where>
            <if test="no != null &amp;&amp; no != ''">
                and no like concat ('%', #{no}, '%')
            </if>
            <if test="state==-1">
                and (state!=6)
            </if>
            <if test="state!=-1">
                and state!=#{state}
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
    </select>
    <select id="selectOrderById" resultType="org.lanqiao.clothes.pojo.Order">
        select  * from tb_order where id = #{orderId}
    </select>

    <select id="selectOrderInfoList" resultType="org.lanqiao.clothes.pojo.OrderInfo">
        select  * from  tb_orderinfo where oId = #{orderId}
    </select>

    <update id="updateOrderStateById">
        update tb_order set state=#{param3} where storeId=#{param1} and id=#{param2}
    </update>



    <!--前台操作-->
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id">
        insert into tb_order(no,customerId,totalMoney,payMoney,addressId,storeId,state,ctime)
        values (#{no},#{customerId},#{totalMoney},#{payMoney},#{addressId},#{storeId},#{state},now())
    </insert>
    <insert id="addOrderInfo">
        insert into tb_orderinfo(oId,goodsId,skuId,price,num)values (#{oId},#{goodsId},#{skuId},#{price},#{num})
    </insert>
    <update id="updateOrderState">
        update tb_order
        <set>
            <if test="param1!=null">state=#{param1},rtime=now()</if>
            <if test="param1==1">,payTime=now()</if>
            <if test="param1==2">,sendTime=now()</if>
            <if test="param1==3">,getTime=now()</if>
            <if test="param1==5">,cancelTime=now()</if>
        </set>
        where id=#{param2}
    </update>
    <update id="deleteOrder">
      update tb_order set state=6 where id=#{id}
    </update>
    <delete id="deleteOrderInfo">
        delete tb_orderinfo where oId=#{oId}
    </delete>
    <select id="orderList" resultType="org.lanqiao.clothes.pojo.Order">
        select * from tb_order
        <where>
            <if test="cutomerId!=null and customerId!=''">
                customerId=#{customerId}
            </if>
            <if test="state!=null and state!=''">
                state=#{state}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectCount" resultType="int">
        select count(1) from tb_order where customerId=#{customerId}
    </select>
    <select id="selectOrderInfo" resultType="org.lanqiao.clothes.pojo.OrderInfo">
        select * from tb_orderinfo where oId=#{oId}
    </select>
    <select resultType="org.lanqiao.clothes.pojo.Order" id="getOrderId" parameterType="int">
        select * from tb_order where customerId=#{customerId}
    </select>
</mapper>