<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.ShoppingCarMapper">
    <insert id="addCar">
        insert into tb_shoppingcar(id,storeId,customerId,goodsId,skuId,num,price) values(null,#{storeId},#{customerId},#{goodsId},#{skuId},#{num},#{price})
    </insert>
    <update id="updateCar">
        update tb_shoppingcar set num=#{num},price=#{price} where id=#{id}
    </update>
    <delete id="deleteShop" parameterType="int">
        delete from tb_shoppingcar where id=#{id}
    </delete>
    <select id="selectAllToList" parameterType="int" resultType="org.lanqiao.clothes.pojo.ShopingCarItem">
        select * from shopCarInfo where customerId=#{customerId}
    </select>
</mapper>