<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.ShoppingCarMapper">
    <insert id="addCar">
        insert into tb_shoppingcar(id,storeId,customerId,goodsId,skuId,num,price) values(null,#{storeId},#{customerId},#{goodsId},#{skuId},#{num},#{price})
    </insert>
    <update id="updateCar">
        update tb_shoppingcar set num=#{num},price=#{price} where id=#{id}
    </update>
    <delete id="deleteShop" parameterType="int">
        delete from tb_shoppingcar where id=#{id}
    </delete>
    <select id="selectAllToList" parameterType="int" resultType="org.lanqiao.clothes.pojo.ShopingCar">
        select * from tb_shoppingcar where customerId=#{customerId}
    </select>

    <delete id="deleteShoppingCarByIds" parameterType="list">
        delete from tb_shoppingcar where id in
        <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>
    </delete>

    <select id="selectShoppingCar" resultType="org.lanqiao.clothes.pojo.ShopingCar">
        select * from tb_shoppingcar where customerId = #{param1} and goodsId = #{param2} and skuId = #{param3};
    </select>

    <update id="updateAddShoppingCar" parameterType="org.lanqiao.clothes.pojo.ShopingCar">
        update tb_shoppingcar set num=#{num},price=#{price} where goodsId=#{goodsId} and skuId = #{skuId} and customerId = #{customerId}
    </update>
</mapper>