<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.StockMapper">
    <insert id="insertStockList" parameterType="list">
      <foreach collection="stockList" separator=";" item="stock" index="index" open="" close="">
        insert into tb_goods_stock (storeId,goodsId,skuId,num) values (${stock.storeId},${stock.goodsId},${stock.skuId},${stock.num})
      </foreach>
    </insert>

    <update id="updateUpStockList" parameterType="list">
        <foreach collection="stockList" separator=";" item="stock" index="index" open="" close="">
            update tb_goods_stock set num=num+${stock.num} where storeId=${stock.storeId} and goodsId=${stock.goodsId} and skuId=${stock.skuId}
        </foreach>
    </update>

    <update id="updateDownStockList" parameterType="list">
        <foreach collection="stockList" separator=";" item="stock" index="index" open="" close="">
            update tb_goods_stock set num=num-${stock.num} where storeId=${stock.storeId} and goodsId=${stock.goodsId} and skuId=${stock.skuId}
        </foreach>
    </update>

    <!--总的查询-->
    <select id="selectStockAll" resultType="org.lanqiao.clothes.pojo.Stock" parameterType="org.lanqiao.clothes.pojo.Condition">
        SELECT storeId,goodsId,SUM(num) num FROM tb_goods_stock
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and goodsId in (SELECT id FROM tb_goods WHERE storeId = #{storeId} and name like concat ('%', #{name}, '%'))
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
        group by goodsId
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>

    <select id="selectStockCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
              SELECT COUNT(1) FROM (select goodsId,SUM(num) from tb_goods_stock
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and goodsId in (SELECT id FROM tb_goods WHERE storeId = #{storeId} and name like concat ('%', #{name}, '%'))
            </if>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
              group by goodsId) as stock
       </select>
    <!--详细信息-->
    <select id="selectStockInfo" resultType="org.lanqiao.clothes.pojo.Stock">
              /*select tgsku.goodsId,tgs.goodsId,tgs.storeId,tgsku.colorId,tgsku.sizeId from tb_goods_sku tgsku ,tb_goods_stock tgs where tgsku.goodsId =  tgs.goodsId and  tgs.storeId=${param1} and  tgs.goodsId=${param2};*/
              select goodsId,num,skuId from tb_goods_stock where storeId = ${param1} and  goodsId=${param2}
       </select>
</mapper>