<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.SupplierMapper">
    <!--新增-->
    <insert id="insertSupplier" parameterType="org.lanqiao.clothes.pojo.Supplier">
        insert into tb_supplier (name,sex,telphone,address,state,storeId,ctime)
        values (#{name},#{sex},#{telphone},#{address},#{state},#{storeId},now())
    </insert>
    <!--查询所有的-->
    <select id="selectSupplierAll" resultType="org.lanqiao.clothes.pojo.Supplier">
        select * from tb_supplier
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <choose>
                <when test="state==0">
                    and state=#{state}
                </when>
                <when test="state==1">
                    and state=#{state}
                </when>
                <otherwise>
                    and (state=0 or state=1)
                </otherwise>
            </choose>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
        <if test="currentPage != null">
            limit #{currentPage}, #{pageSize}
        </if>
    </select>
    <select id="selectSupplierCount" resultType="int" parameterType="org.lanqiao.clothes.pojo.Condition">
        select count(1) from tb_supplier
        <where>
            <if test="name != null &amp;&amp; name != ''">
                and name like concat ('%', #{name}, '%')
            </if>
            <choose>
                <when test="state==0">
                    and state=#{state}
                </when>
                <when test="state==1">
                    and state=#{state}
                </when>
                <otherwise>
                    and (state=0 or state=1)
                </otherwise>
            </choose>
            <if test="storeId != null">
                and storeId=#{storeId}
            </if>
        </where>
    </select>
    <!--删除-->
    <delete id="deleteSupplierById" parameterType="int">
        delete from tb_supplier where id = #{supplierId}
    </delete>
    <!--修改-->
    <update id="updateSupplierById" parameterType="org.lanqiao.clothes.pojo.Supplier">
        update tb_supplier set name=#{name},sex=#{sex},telphone=#{telphone},address=#{address},state=#{state},storeId=#{storeId},ctime=now(),rtime=now() where id=#{id}
    </update>
    <!--id查询-->
    <select id="selectSupplierById" parameterType="int" resultType="org.lanqiao.clothes.pojo.Supplier">
        select * from tb_supplier where id=#{id};
    </select>
</mapper>