<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.clothes.mapper.UserMapper">
    <select id="selectUser" resultType="org.lanqiao.clothes.pojo.User" parameterType="org.lanqiao.clothes.pojo.User">
        select * from tb_user where username=#{username} and password=#{password}
    </select>
    <select id="selectByName" resultType="org.lanqiao.clothes.pojo.User">
        select * from tb_user where username=#{username}
    </select>
    <insert id="insertUser" parameterType="org.lanqiao.clothes.pojo.User">
        insert into tb_user(username,password,sex,state,storeId,ctime) values (#{username},#{password},#{sex},#{state},#{storeId},#{ctime})
    </insert>
    <update id="updateStoreId" parameterType="org.lanqiao.clothes.pojo.User">
        update tb_user set realname=#{realname},storeId=#{storeId},idCard=#{idCard} where username=#{username}
    </update>

    <update id="updateUser" parameterType="org.lanqiao.clothes.pojo.User">
        update tb_user set realname=#{realname},idCard=#{idCard},sex=#{sex},phone=#{phone},rtime=now() where id=#{id}
    </update>
</mapper>