
/**头部**/
#header{
	background:#fff; min-width:1200px; position:relative; z-index:1001; width:100%;
	-webkit-box-shadow:rgba(0,0,0,0.15) 0px 0px 2px; -moz-box-shadow:rgba(0,0,0,0.15) 0px 0px 2px; box-shadow:rgba(0,0,0,0.15) 0px 0px 2px;
	}
#header.header-order{}
#header.header-order .top-nav{ right:0px;}

#header .toper {background-color:#F6F6F6; color:#666; font-size:13px; height:30px; line-height:30px;border-bottom:1px solid #aaa;border-top:6px solid #e6003e;}
#header .toper .wrapper{ position:relative;}
#header .toper a,
#header .toper a:visited{ color:#666;}
#header .toper a:hover{ color:#e6003e; text-decoration:none;}
#header .toper .account-sign-status {height:28px;width:600px; }
#header .toper .account-sign-status a:hover{ color:#e6003e; text-decoration:none;}
#header .toper .righttips  {height:28px;width:500px;position:absolute; top:0px; right:0px;}
#header .toper .righttips dl {float:right;width:210px;}
#header .toper .righttips dd {display:inline;margin:0px 5px 0px 5px;padding:0px 5px 0px 10px;border-left:1px solid #bbb;}
#header .toper .righttips dd:first-child {border-left:0;}
#header .toper .righttips dd img {width:25px;height:25px;}
#header .toper #topweixin{width:150px;height:150px;display:block;z-index:6699;position:absolute; top:30px; right:0px;overflow:hidden;}

#header .topdmenu { background-color:#e6003e; color:#FFF; font-size:13px; height:40px; line-height:40px;}
#header .topdmenufoot { background-color:#FFF;height:10px; line-height:10px;}
#header .topdmenu .wrapper{ position:relative;}
#header .topdmenu a,
#header .topdmenu a:visited{ color:#FFF;}
#header .topdmenu a:hover{ color:#000; text-decoration:none;}

#header .top-nav { position:absolute; top:0px; right:148px; z-index:900; }
#header .top-nav .sep{ border-left:1px solid #888; display:inline-block; float:left; height:12px; line-height:12px; margin:10px 8px 0px 8px; vertical-align:middle; width:1px; overflow:hidden;}
#header .top-nav a{ float:left; text-align:center;  padding:0px 10px;}
#header .top-nav a,
#header .top-nav a:visited{ color:#666; }
#header .top-nav a:hover{ color:#ff6700; padding-bottom:10px; text-decoration:none; }
#header .ordertop-nav a{ color:#666; }
#header .welcome { font-size:12px; float:left; }
#header .welcome .worktime{ padding-left:10px;}
#header .welcome .tel{ padding-left:12px;}
#header .top-cart{ position:absolute; right:0px; top:0px;}
#header .top-cart .cart{ display:block; padding:0px 10px 0px 12px;}
#header .top-cart .cart:hover{ background:#ff6700; color:#000;}
#header .top-cart .cart i{ margin-right:6px;}
/**user**/
#header .user-status { padding-right:12px;}
#header .user-status a.a-login{ padding:0px 10px;}
#header .user-status a.a-reg{ padding:0px 10px;}
#header .user-status a.username{ font-weight:600; padding:0px 10px 0px 10px;}
#header .user-status .sep{ border-left:1px solid #aaa; display:inline-block; height:12px; line-height:12px; margin:0px 10px 0px 11px; vertical-align:middle; width:1px; overflow:hidden;}
#header .user-status a:hover{ color:#000;}
/**header**/
#header .header-line{ background-color:#fff; height:70px;}
#header .header-line .wrapper{ position:relative; z-index:991;}
#header .header-line .logo{ display:inline-block; float:left; padding-top:0px;}
/*搜索*/
#header .search{ position:absolute; right:0px; top:15px; background:#ddd;}
#header .search .search-form{ height:42px; padding:0px 0px 0px 0px; position:relative;}
#header .search .search-form .search-text{ float:left;}
#header .search .text-search{ border:1px solid #e6e6e6; border-right:none; color:#aaa; float:left; font-size:12px; height:24px; line-height:24px; padding:8px 8px 8px 8px; width:180px;}
#header .search .text-search:focus{ color:#222;}
#header .search .btn-search{ background-color:#fff; border:1px solid #e6e6e6; color:#666; float:left; font-size:12px; height:42px; line-height:24px; padding:8px 0px; width:48px;}
#header .search .btn-search:active{ background-color:#ff6700; border-color:#ff6700; color:#fff;}
#header .search .search-keywords{ height:24px; line-height:24px; padding:0px 0px 4px 0px; position:absolute; top:10px; right:60px;}
#header .search .search-keywords a{ background-color:#fafafa; display:inline-block; height:18px; line-height:18px; margin-left:5px; padding:0px 4px 0px 4px;}
#header .search .search-keywords a,
#header .search .search-keywords a:visited{ color:#424242;}
#header .search .search-keywords a:hover{ background:#ff6700; color:#fff; text-decoration:none;}
/*导航*/
#header .main-nav{ position:absolute; left:10px;}
#header .main-nav li.n1{ float:left; position:relative; z-index:999;}
#header .main-nav li.n1 a.n1{ display:inline-block; display:block; font-size:14px; font-weight:normal; height:40px; line-height:40px; padding:0px 15px 3px 15px;margin-right:10px; position:relative; z-index:999; text-align:center;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;}
#header .main-nav li.n1 a.n1,
#header .main-nav li.n1 a.n1:visited{ color:#FFF; }
#header .main-nav li.n1 a.n1:hover{transition:all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;font-weight:normal;}
#header .main-nav li.n1 a.n1:hover,
#header .main-nav li.n1.hover a.n1,
#header .main-nav li.n1.current a.n1{ color:#000; text-decoration:none;background-color:#FFF;height:30px; line-height:30px;margin-top:5px;padding:0px 15px 0px 15px;border-radius:2em;font-weight:bolder;}
/*二级菜单*/
#header .main-nav .subnav { background-color:#fff; -webkit-box-shadow:rgba(0,0,0,0.3) 0px 3px 3px; -moz-box-shadow:rgba(0,0,0,0.3) 0px 3px 3px; box-shadow:rgba(0,0,0,0.3) 0px 3px 3px; display:none; position:absolute; width:auto; top:90px; left:-10px; z-index:901;}
#header .main-nav .subnav ul { background:none; display:block; padding:15px 0px 20px 0px;}
#header .main-nav .subnav ul li { display:block; float:none; font-size:14px; font-weight:normal; position:relative;}
#header .main-nav .subnav ul li a { display:block; height:32px; line-height:32px; padding:5px 20px 5px 20px; min-width:150px; white-space:nowrap;}
#header .main-nav .subnav ul li a,
#header .main-nav .subnav ul li a:visited { color:#FFF; text-decoration:none;}
#header .main-nav .subnav ul li a:hover { background:#ff6700; color:#fff; }
#header .main-nav .subnav ul li:last-child a { border-bottom:none;}

.diu-subsite-menu{ background-color:#404040; height:56px; line-height:56px; overflow:hidden;}
.diu-subsite-menu .section{ margin:0px auto; width:1200px;}
.diu-subsite-menu .section li{ float:left;}
.diu-subsite-menu .section li a{ display:inline-block; line-height:56px; padding:0px 20px;}
.diu-subsite-menu .section li a,
.diu-subsite-menu .section li a:visited{ color:#fff; font-size:14px;}
.diu-subsite-menu .section li a:hover{ background-color:#2a2a2a; text-decoration:none;}
.diu-subsite-menu .section li.current a{ background-color:#2a2a2a; }

/*网页底部*/
#footer { background:#334259; border-top:1px solid #ddd; color:#aaa; margin:0px auto; min-width:1200px;}
#footer .footer-section{ padding:5px 0px 5px 0px; zoom:1; overflow:auto;}
#footer .footer-section .wrapper{ vertical-align:top; position:relative;}
#footer a,
#footer a:visited{ color:#aaa;}

#footer .col-contact { float:left; margin:30px 0px 40px 0px; width:400px; padding:0px 40px 20px 0px; }
#footer .col-contact h3 { color:#fff; font-size:20px; }
#footer .col-contact p.text1{ color:#aaa; font-size:13px; padding:15px 0px;}
#footer .col-contact p.text2{ color:#fff; font-weight:bold;}

#footer .col-cates{ float:left; padding:30px 0px 30px 50px; width:520px;}
#footer .col-cates dl{ float:left; margin:0px 15px 0px 0px; width:150px;}
#footer .col-cates dl.item3{ margin-right:0px;}
#footer .col-cates dl dt{ color:#fff; font-size:16px; font-weight:bold; padding:0px 0px 5px 0px;}
#footer .col-cates dl dd{ font-size:13px; height:24px; line-height:24px; padding:4px 0px ;}
#footer .col-cates a:hover{ color:#fff; text-decoration:none;}
#footer .col-cates dl.content{ float:right; width:300px;}
#footer .col-cates dl.content dt{ color:#333;}

#footer .col-qrcode{ padding:35px 0px 0px 0px; width:160px; text-align:center; position:absolute; right:30px; }
#footer .col-qrcode img{ border:1px solid #ddd; height:120px; width:120px;}
#footer .col-qrcode h3{ padding:12px 0px 2px 0px;}
#footer .col-qrcode p{}

#footer .powered-by{ background-color:#2e3f59; font-size:12px; padding:12px 0px;}
#footer .powered-by a,
#footer .powered-by a:visited {color:#ddd;}
#footer .powered-by a:hover { color:#3196de; text-decoration:none;}
#footer .powered-by .copyright{}
#footer .powered-by .icp{ padding-left:5px;}
#footer .powered-by .stat{ font-style:normal; padding-left:5px;}
#footer .powered-by .powered{ float:right; font-size:12px; padding-right:25px;}

/*banner*/
.diu-banner { background:#fcfcfc; min-width:1200px;}
.diu-main-banner{ min-width:1200px;}
.diu-top-banner{ background:#334259;}
.diu-top-banner .section{ color:#fff; min-height:100px; margin:0px auto; padding:45px 0px 52px 0px; width:1200px;}
.diu-top-banner .banner-title{ font-size:38px; font-weight:normal;}
.diu-top-banner .banner-subtitle{ font-size:18px;}

/*网页中间内容区*/
#mbody { margin:auto; min-width:1200px;}
#mbody:after {clear:both; content:"."; display:block; height:0px; visibility:hidden;}
#idx-mbody{ min-width:1200px;}

/**返回顶部**/
.diu-floater{ width:40px; position:fixed; _position:absolute; bottom:10px; right:10px; z-index:9999; filter:alpha(opacity=100); opacity:1.0;}
.diu-floater a{ background-image:url("../images/float_bar.png"); display:inline-block; height:40px; margin:0px; width:40px; padding:0px; vertical-align:top;}
.diu-floater a,
.diu-floater a:visited{ background-color:#36aa00;}
.diu-floater a:hover{ background-color:#b50005;}
.diu-floater a.top{ background-position:0px 0px;}
.diu-floater a.top:hover{ background-position:40px 0px;}
.diu-floater a.feedback{ background-position:0px -40px;}
.diu-floater a.feedback:hover{ background-position:40px -40px;}
.diu-floater a.faq{ background-position:0px -80px;}
.diu-floater a.faq:hover{ background-position:40px -80px;}

/*公告*/
.diu-notice{ background-color:#ffdb3d; color:#222; display:none; font-size:16px; padding:10px; text-align:center;}

#d_diu_notice{}
#d_diu_notice .diu-dialog-title{ background-color:#fff; border:1px solid rgba(0,0,0,0.8); border-bottom:none; color:#de0000; font-size:22px; padding:30px 0px 15px 0px; text-align:center;}
#d_diu_notice .diu-dialog-content{ border-top:none;}
#d_diu_notice .diu-dialog-content .diu-notice-dialog{ background-color:#fff; color:#333; font-size:18px; line-height:200%; padding:0px 40px 20px 40px; width:700px;}
#d_diu_notice .diu-dialog-buttons{ background-color:#fff; border:1px solid rgba(0,0,0,0.8); border-top:none; padding:0px 0px 20px 0px;}
#d_diu_notice .btn{ background-color:#fff; background-image:none; color:#666; font-weight:normal!important; font-size:15px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; border:1px solid #ddd; text-shadow:none; -webkit-border-radius:0px; -moz-border-radius:0px; line-height:24px;}
#d_diu_notice .btn:hover{ background-color:#f4f4f4; border:1px solid #aaa; color:#333;}

/*页面导航面包屑*/
.diu-breadcrumb{ font-size:13px; height:24px; line-height:24px; margin:0px; padding:10px 0px 5px 0px;}
.diu-breadcrumb .sep{ font-family:宋体,arial; font-size:80%; line-height:inherit; padding:0px 6px; vertical-align:top;}

/*搜索*/
.diu-search-header{ background:#fcfcfc; border-bottom:1px solid #f2f2f2; font-size:13px; padding:10px 0px;}
.diu-search-header h1{ font-weight:normal; font-size:16px; }
.diu-search-header h1 b{ color:#c60000; padding:0px 10px;}

/*内容类型筛选*/
.diu-content-type{ border-bottom:1px solid #e6e6e6; margin:0px 0px 0px 0px;}
.diu-content-type .type-header{ font-size:14px; padding:2px 0px; }
.diu-content-type .type-section{}
.diu-content-type .type-line{ border-top:1px dotted #eee8e8; overflow:hidden; padding:0px 0px 6px 0px; position:relative;}
.diu-content-type .type-line .type-attr{ color:#424242; float:left; font-weight:bold; padding:6px 2px 0px 5px; text-align:right; width:80px; }
.diu-content-type .type-line .type-value{ float:left; width:670px;}
.diu-content-type .type-line .type-value ul{ padding:4px 0px 0px 4px;}
.diu-content-type .type-line .type-value li{ float: left; height:20px; line-height:20px; margin-right:8px; white-space:nowrap; padding:2px 0px;}
.diu-content-type .type-line .type-value li a{ display:inline-block; height:20px; line-height:20px; padding:1px 6px;}
.diu-content-type .type-line .type-value li a.current{ background:#686868; color:#fff;}
.diu-content-type .type-line .type-value li a.current:hover{ text-decoration:none; cursor:default;}

/*案例*/
.gallery-pic { margin:0px auto; padding:20px 0px; width:1000px;  }
.gallery-pic .gallery-list{ height:79px; margin:0px 0px 10px 0px; padding:0px 0px 0px 0px; overflow:hidden; position:relative; width:1000px;}
.gallery-pic .gallery-list ul{ margin-left:-9px; padding:0px 0px; zoom:1; overflow:auto; position:absolute;}
.gallery-pic .gallery-list li{ background:#fff; border:1px solid #ccc; float:left; height:75px; margin:0px 0px 0px 10px; width:112px; padding:1px; overflow:hidden; text-align:center;}
.gallery-pic .gallery-list li:first-child{}
.gallery-pic .gallery-list li a{ display:inline-block; height:75px; width:112px; overflow:hidden;}
.gallery-pic .gallery-list li img{ min-height:75px; width:112px;}
.gallery-pic .gallery-list li.current{ border:2px solid #C30008; padding:0px;}
.gallery-pic .gallery-list a.turner { background-image:url("../images/turner-pre-next.png"); display:inline-block; height:30px; position:absolute; top:25px; width:24px;}
.gallery-pic .gallery-list a.prev{ left:10px;}
.gallery-pic .gallery-list a.prev:hover {background-position:0px 30px;}
.gallery-pic .gallery-list a.next{ background-position:24px 0px; right:10px;}
.gallery-pic .gallery-list a.next:hover {background-position:24px 30px;}

.gallery-pic .gallery-view { background:#454851; width:1000px; position:relative; z-index:1;}
.gallery-pic .gallery-view span { display:inline-block; margin:auto; text-align:center; width:1000px;}
.gallery-pic .gallery-view a{ cursor:default; padding:1px; display:block; text-align:center;}
.gallery-pic .gallery-view img { max-width:998px; width:expression(this.width > 998 ? 998 : true);}
.gallery-pic .gallery-view .mousetrap{ position:absolute; right:0px;}
.gallery-pic .gallery-view .cloud-zoom-big { left:1px; top:1px;}

/*相关内容*/
.diu-related-grid{ background:#f4f4f4; margin:0px; padding-top:30px; zoom:1; overflow:auto;}
.diu-related-grid .header{ border-bottom:1px solid #e6e6e6; padding-bottom:20px; position:relative;}
.diu-related-grid .header h2{ background:#f4f4f4; color:#888; display:inline-block; font-size:28px; font-weight:normal; height:32px; line-height:32px; padding:10px 0px; position:absolute; top:-10px; left:50%; margin-left:-140px; width:280px; text-align:center; }
.diu-related-grid .section{ padding:50px 0px; zoom:1; overflow:auto;}

/*在线客服*/
.service-online {font-family:"微软雅黑"; text-shadow:0px 1px 0px #fff; margin:0px; position:absolute; right:0px; top:100px;z-index:99999999;}
.service-online a.mini {background:url("../images/service-online.png") 0px 0px no-repeat; display:inline-block; float:right; height:90px; width:30px; overflow:hidden;}
.service-online .listpanel {background:#fafafa; width:136px;}
.service-online .heading {background:url("../images/service-online.png") -40px 0px no-repeat; height:24px; line-height:24px; overflow:hidden; position:relative; }
.service-online .section {border:1px solid #ddd; padding:5px 0px 10px 0px;}
.service-online a.close {background-image:url("../images/service-online.png"); background-position:-40px -32px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:0px; top:0px;}
.service-online a.close:hover {background-position:-64px -32px;}
.service-online dl {border-bottom:1px dotted #e6e6e6; box-shadow:0px 1px 0px #fff; margin:5px 10px; padding:0px 0px 5px 0px;}
.service-online dl dt {font-size:12px; margin:0px; padding:0px;}
.service-online dl dd {margin:0px; padding:2px 0px;}
.service-online dl dd.tel {color:#c70505; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.service-online dl dd.qq a,
.service-online dl dd.crmqq a{ background:url("../images/qq-talk.png"); display:inline-block; height:22px; line-height:22px; width:92px; overflow:hidden; vertical-align:top; }
.service-online dl dd.wangwang {}

/*图片广告*/
.diu-ad-pic { margin:auto; overflow:hidden; position:relative;}
.diu-ad-pic a {position: absolute;}
.diu-ad-pic a img {}
.diu-pic-player {margin:auto; position:relative; overflow:hidden; z-index:1;}
.diu-pic-player .sliders {position:absolute; left:0px; top:0px;}
.diu-pic-player .sliders li {}
.diu-pic-player .pages {bottom:5px; position:absolute; right:10px;}
.diu-pic-player .pages a {background-color:#999; display:inline-block; font-size:9px; height:16px; line-height:16px; margin:0px 2px; width:16px; overflow:hidden; text-align:center;
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;
	}
.diu-pic-player .pages a,.diu-pic-player .pages a:visited {color:#fff; text-decoration:none;}
.diu-pic-player .pages a.current {background-color:#c30000;}
.diu-pic-player .pages a:hover {background-color:#c30000;}
.diu-pic-player .turner {position:absolute; top:42%; width:100%; background:#ddd;}
.diu-pic-player .turner a {background-image:url("../images/pic-player-pre-next.png"); display:inline-block; height:40px; width:32px; overflow:hidden;}
.diu-pic-player .turner a.prev {background-position:0px 0px; left:8px; position:absolute;}
.diu-pic-player .turner a.prev:hover {background-position:0px 40px;}
.diu-pic-player .turner a.next {background-position:32px 0px; position:absolute; right:8px;}
.diu-pic-player .turner a.next:hover {background-position:32px 40px;}

.index-banner-section .diu-pic-player .pages { bottom:15px; position:absolute; right:10px;}
.index-banner-section .diu-pic-player .pages a { font-size:10px; height:24px; line-height:24px; margin:0px 5px; width:24px; overflow:hidden; text-align:center; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px;}
.index-banner-section .diu-pic-player .pages a,.diu-pic-player .pages a:visited {color:#fff; text-decoration:none;}
.index-banner-section .diu-pic-player .pages a.current {background-color:#c30000;}
.index-banner-section .diu-pic-player .pages a:hover {background-color:#c30000;}
.index-banner-section .diu-pic-player .turner { position:absolute; top:42%; width:100%; background:#ddd;}
.index-banner-section .diu-pic-player .turner a {background-image:url("../images/pic-player-pre-next-big.png"); display:inline-block; height:80px; width:64px; overflow:hidden;}
.index-banner-section .diu-pic-player .turner a.prev {background-position:0px 0px; left:15px; position:absolute;}
.index-banner-section .diu-pic-player .turner a.prev:hover {background-position:0px 80px;}
.index-banner-section .diu-pic-player .turner a.next {background-position:64px 0px; position:absolute; right:15px;}
.index-banner-section .diu-pic-player .turner a.next:hover {background-position:64px 80px;}

/*产品图片画廊*/
.gallery { position:relative; width:366px;}
.gallery .gallery-view { border:1px solid #aaa; height:360px; width:360px; position:relative;}
.gallery .gallery-view span { display:inline-block; height:360px; width:360px; text-align:center;}
.gallery .gallery-view a{ display:block; text-align:center;}
.gallery .gallery-view img { max-height:360px; max-width:360px;}
.gallery .gallery-view .mousetrap{ position:absolute; right:0px;}
.gallery .gallery-view .cloud-zoom-big { border:1px solid #ccc; left:366px; top:-1px;}
.gallery .gallery-list{ height:56px; margin:10px 0px; overflow:hidden; padding:0px 0px; position:relative; width:366px;}
.gallery .gallery-list ul{ padding:0px; zoom:1; overflow:auto; position:absolute;}
.gallery .gallery-list li{ background:#fff; border:1px solid #cdcdcd; float:left; height:54px; margin:0px 5px 0px 0px; width:54px; overflow:hidden; text-align:center;}
.gallery .gallery-list li a{ display:block;}
.gallery .gallery-list li img{ max-height:54px; max-width:54px; height:expression(this.height > 54 && this.height/this.width >= 1 ? 54 : true); width:expression(this.width > 54 && this.width/this.height >= 1 ? 54 : true);}
.gallery .gallery-list li.current{ border:2px solid #C30008; height:52px; width:52px; margin:0px 3px 0px 0px;}
.gallery .gallery-list a.turner { background-image:url("../images/turner-pre-next.png"); display:inline-block; height:30px; position:absolute; top:13px; width:24px;}
.gallery .gallery-list a.prev{ left:0px;}
.gallery .gallery-list a.prev:hover {background-position:0px 30px;}
.gallery .gallery-list a.next{ background-position:24px 0px; right:5px;}
.gallery .gallery-list a.next:hover {background-position:24px 30px;}

/*弹窗用户登录*/
.diu-loginwin{ width:278px; padding:25px 40px;}
.diu-loginwin .form-login dl dt { font-size:14px; padding:0px 10px 0px 0px;}
.diu-loginwin .form-login dl dd { margin-bottom:6px; padding:4px 10px 0px 0px;}
.diu-loginwin .form-login dl dd input.text{ font-size:14px; padding:3px 5px; width:100%;}
.diu-loginwin .form-login dl dd input.text-verifycode{ width:100px;}
.diu-loginwin .form-login dl dd .verifycode img{ height:32px; vertical-align:middle;}
.diu-loginwin .form-login dl dd .verifycode .fresh{background:#f6f6f6; border:1px solid #aaa; display:inline-block; font-size:14px; height:32px; line-height:32px; width:35px; text-align:center; vertical-align:top; overflow:hidden;}
.diu-loginwin .form-login dl dd .verifycode .fresh:hover{ text-decoration:none;}
.diu-loginwin .form-login dl.button dd{ padding:15px 0px 0px 0px;}
.diu-loginwin .form-login dl.button dd .btn{ width:100%; padding-left:0px; padding-right:0px; text-align:center;}
.diu-loginwin .form-login dl.remember dd{ padding-top:15px;}
.diu-loginwin .form-login dl.remember a,
.diu-loginwin .form-login dl.remember a:visited{ color:#888;}
.diu-loginwin .form-login dl.remember a:hover{ color:#0070d9; text-decoration:none;}
.diu-loginwin .form-login dl dd label.remember{ display:none;}
.diu-loginwin .form-login dl dd .forget{ margin-right:15px;}
.diu-loginwin .form-login dl dd .reg-member{ }
.diu-loginwin .form-login dl dd .unlogin-buy{ float:right;}

/**单选/复选框**/
.labels {}
.labels label.checkbox-inline {margin-right:10px;}
.labels label.radio-inline {margin-right:10px;}

/*验证码*/
.verifycode{}
.verifycode img{ height:26px; vertical-align:middle;}
.verifycode .fresh{ background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:14px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/*spans*/
.spans-inline {}
.spans-inline .headline {border-bottom:1px solid #eee; color:#666; display:inline-block; padding:0px 10px 2px 0px;}
.spans-inline .spans {padding:6px 0px 0px 0px;}
.spans-inline span {padding:0px 10px 0px 0px;}

/*加载/提交/注释/注解*/
.loading,
.posting {background:url("../images/posting.gif") 0px center no-repeat; color:#888; display:inline-block; font-size:18px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.freshing {background:url("../images/freshing.gif") 0px 0px no-repeat; color:#aaa; display:inline-block; font-size:12px; height:16px; line-height:16px; padding:2px 5px 2px 24px;}
.t-normal {color:#b2b2b2; padding:0px 0px 0px 0px;}
.t-normal.hightLigth,
.t-normal:hover{color:#4d4d4d;}

.t-ok { color:#00be00; }
.t-err { color:#ff3300; }

span.more{ float:right;}
span.more a{ background:url("../images/more.png") right 0px no-repeat; color:#888; display:inline-block; font-size:12px; height:24px; line-height:24px; padding-right:26px;}
span.more a:hover{ background-position:right -24px; color:#fc0000; text-decoration:none;}

span.raquo{ color:#fc0000; display:inline-block; font-family:Arial; font-size:120%; line-height:inherit; padding-left:10px;}
span.raquo a,span.raquo a:visited{ color:#fc0000;}
span.raquo a:hover{ color:#ac0000; text-decoration:none;}

.caret {
    border-top:4px solid;
	border-left:4px solid transparent;
    border-right:4px solid transparent;
    display:inline-block;
    margin-left:5px; vertical-align:middle;
	transform:scale(1.001); transition:all 0.25s ease 0s;
	height:0; width:0;
}

/*详细*/
.diu-editor-content-text img{}
.diu-editor-content-text table{ margin-bottom:10px; border-collapse:collapse; display:table; font-size:16px; }
.diu-editor-content-text table tr.firstRow th { border-top-width: 2px;}
.diu-editor-content-text table th{ background-color:#f7f7f7; border:1px solid #ccc; border-top:1px solid #bbb; font-weight:bold; font-size:16px; padding:5px 10px; }
.diu-editor-content-text table td{ border:1px solid #ccc; padding:5px 10px; }


/*文字样式*/
.bg-black,.border-black .button.active,.pointer.border-black .active,.nav-pills.border-black .active a,.nav-main.border-black .nav-head,.pagination.border-black .active
{background-color:#000;}
.bg-gray,.border-gray .button.active,.pointer.border-gray .active,.nav-pills.border-gray .active a,.nav-main.border-gray .nav-head,.pagination.border-gray .active
{background-color:#999;}
.bg-white,.button.bg,.border-white .button.active,.pointer.border-white .active,.nav-pills.border-white .active a,.nav-main.border-white .nav-head,.pagination.border-white .active
{background-color:#fff;}
.bg-red,.border-red .button.active,.pointer.border-red .active,.nav-pills.border-red .active a,.nav-main.border-red .nav-head,.pagination.border-red .active
{background-color:#e33;}
.bg-yellow,.border-yellow .button.active,.pointer.border-yellow .active,.nav-pills.border-yellow .active a,.nav-main.border-yellow .nav-head,.pagination.border-yellow .active
{background-color:#f60;}
.bg-blue,.border-blue .button.active,.pointer.border-blue active,.nav-pills.border-blue .active a,.nav-main.border-blue .nav-head,.pagination.border-blue .active
{background-color:#0ae;}
.bg-green,.border-green .button.active,.pointer.border-green .active,.nav-pills.border-green .active a,.pagination.border-green .active
{background-color:#2c7;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-justify{text-align:justify;}
.text-large{font-size:24px;}
.text-big{font-size:16px;}
.text-default{font-size:14px;}
.text-small{font-size:12px;}
.text-little{font-size:10px;}
.text-black, a.text-black:link, a.text-black:visited,.button.border-black,blockquote.border-black strong,.pager.border-black a,.pager-prev.border-black,.pager-next.border-black
{color:#000;}
a.text-black:hover{color:#666;}
.text-gray, a.text-gray:link, a.text-gray:visited,.button.border-gray,blockquote.border-gray strong,.pager.border-gray a,.pager-prev.border-gray,.pager-next.border-gray
{color:#999;}
.text-white, a.text-white:link, a.text-white:visited,.button.border-white,blockquote.border-white,.pager.border-white a,.pager-prev.border-white,.pager-next.border-white
{color:#fff;}
.text-red, a.text-red:link, a.text-red:visited,.button.border-red,.button.bg-red-light,blockquote.border-red strong,.pager.border-red a,.pager-prev.border-red,.pager-next.border-red,.badge.bg-red-light,.alert-red,.check-error
{color:#e33;}
.text-yellow, a.text-yellow:link, a.text-yellow:visited,.button.border-yellow,.button.bg-yellow-light,blockquote.border-yellow strong,.pager.border-yellow a,.pager-prev.border-yellow,.pager-next.border-yellow,.badge.bg-yellow-light,.alert-yellow,.check-warning
{color:#f60;}
.text-blue, a.text-blue:link, a.text-blue:visited,.button.border-blue,.button.bg-blue-light,blockquote.border-blue strong,.pager.border-blue a,.pager-prev.border-blue,.pager-next.border-blue,.badge.bg-blue-light,.alert-blue
{color:#0ae;}
.text-green, a.text-green:link, a.text-green:visited,.button.border-green,.button.bg-green-light,blockquote.border-green strong,.pager.border-green a,.pager-prev.border-green,.pager-next.border-green,.badge.bg-green-light,.alert-green,.check-success
{color:#2c7;}
.padding-large{padding:30px;}
.padding-large-top{padding-top:30px;}
.padding-large-right{padding-right:30px;}
.padding-large-bottom{padding-bottom:30px;}
.padding-large-left{padding-left:30px;}
.padding-big{padding:20px;}
.padding-big-top{padding-top:20px;}
.padding-big-right{padding-right:20px;}
.padding-big-bottom{padding-bottom:20px;}
.padding-big-left{padding-left:20px;}
.padding{padding:20px;}
.padding-top{padding-top:10px;}
.padding-right{padding-right:10px;}
.padding-bottom{padding-bottom:10px;}
.padding-left{padding-left:10px;}
.padding-small{padding:5px;}
.padding-small-top{padding-top:5px;}
.padding-small-right{padding-right:5px;}
.padding-small-bottom{padding-bottom:5px;}
.padding-small-left{padding-left:5px;}
.padding-little{padding:2px;}
.padding-little-top{padding-top:2px;}
.padding-little-right{padding-right:2px;}
.padding-little-bottom{padding-bottom:2px;}
.padding-little-left{padding-left:2px;}

