<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <ul  class="diu-goods-list clearfix" name="goods">
            <div th:if="${brandList.size()!=0}">
                <li  gid="229" is_book="0" th:each="item: ${brandList}">
                    <div class="thumb divfl" name="thumbnail"><a th:href="@{'/sale/detalis?goodsId='+${item.id}}" target="_blank"><img name="thumbnail" th:src="${item.pic}" alt="點擊查看詳情"></a></div>
                    <div class="info">
                        <h3 class="title"><a th:href="@{'/sale/detalis?goodsId='+${item.id}}" target="_blank"><a th:text="${item.name}"></a></a></h3><!--商品名称-->
                        <p class="subtitle">防风，防雨，保暖 </p>
                        <p class="price"><span class="money"><em>￥</em><b><a th:text="${item.mPrice}"></a></b></span><!--会员价--><span class="market_price"><span th:text="${item.sPrice}"></span></span></p><!--原价-->
                    </div>
                </li>
            </div>
            <div th:if="${classList.size()!=0}">
                <li  gid="229" is_book="0" th:each="item: ${classList}">
                    <div class="thumb divfl" name="thumbnail"><a th:href="@{'/sale/detalis?goodsId='+${item.id}}" target="_blank"><img name="thumbnail" th:src="${item.pic}" alt="點擊查看詳情"></a></div>
                    <div class="info">
                        <h3 class="title"><a th:href="@{'/sale/detalis?goodsId='+${item.id}}" target="_blank"><a th:text="${item.name}"></a></a></h3><!--商品名称-->
                        <p class="subtitle">防风，防雨，保暖 </p>
                        <p class="price"><span class="money"><em>￥</em><b><a th:text="${item.mPrice}"></a></b></span><!--会员价--><span class="market_price"><span th:text="${item.sPrice}"></span></span></p><!--原价-->
                    </div>
                </li>
            </div>

        </ul>
    </body>
</html>