<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--按钮-->
<div class="wrapper">
    <span style="font-size: 30px">评价数量(<span id="comment_count" th:text="${count}"></span>)</span>
    <a  class="commentBtn btn btn-default" type="button"  id="quanbu"  value="-1" onclick="pageClick(this)">全部</a>
    <a class="commentBtn btn btn-default" type="button"  id="haoping"  value="0" onclick="pageClick(this)">好评</a>
    <a  class="commentBtn btn btn-default" type="button"  id="zhongping"  value="1" onclick="pageClick(this)">中评</a>
    <a class="commentBtn btn btn-default" type="button"  id="chaping"  value="2" onclick="pageClick(this)">差评</a>
</div>
<hr>
<!--开始评价管理-->
<div th:if="${count}==0">
    <input type="hidden" name="currentPage" id="currentPage" th:value="${currentPage}">
    <div style="height: 100px">
        <br>
        <center><span style="font-size: 30px">很抱歉，该商品还没有对应的评价</span></center>
    </div>
</div>
<div  is_tab="true" tab="4" style="display: block;" th:if="${count}!=0">
    <div class="section list-section" id="comment_list" th:each="comment:${commentListByGoodsId}">
        <div class="comment-data">
            <div class="avatar"><img name="avatar" src="./商品详情_files/touxiang.jpg" style="max-width:250%; height: 100px">
                <p class="user" th:text="${comment.customerId}"></p></div>
            <div class="comment-data-content">
                <div class="cmt-header">
                    <span class="cmt-spec" name="cmt_spec">规格：<b name="spec_value" th:text="${comment.skuId}"></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b name="spec_value" th:text="${comment.skuId}"></b></span>
                </div><br>
                <div class="cmt-content" th:text="${comment.comment}"></div>
                <br>
                <div class="cmt-footer"><span class="cmt-type">评分：
                                <b name="cmt_type" cmt_type="10">
                                    <b class="cmt-type-a" th:text="${comment.gradeStr}"></b>
                                </b>
                            </span><span class="cmt-time">评价时间：<b th:text="${comment.ctime!=null}?${#dates.format(comment.ctime, 'yyyy-MM-dd HH:mm:ss')}"></b></span>
                </div>
            </div>
        </div>

        <!--店家回复-->
        <div class="comment-data comment-data-reply" name="comment_data_reply" th:if="${comment.reply!=''}">
            <div class="avatar">
                <img name="avatar" src="./商品详情_files/avatar2.jpg">
                <p class="user"></p>
            </div>
            <div class="comment-data-content">
                <div>
                    <div class="cmt-header">客服回复</div>
                    <div class="cmt-content" name="reply_content" th:text="${comment.reply}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--评价结束了-->

</body>
</html>