<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的购物车</title>
    <meta name="keywords" content="我的购物车">
    <meta name="description" content="我的购物车">
    <meta name="runtime" content="0.1992">
    <meta name="queries" content="31">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="http://www.diu8diu.com/diu-content/uploads/favicon.ico">
    <link rel="icon" href="http://www.diu8diu.com/diu-content/uploads/favicon.ico">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/diu.global.css}">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/pc.glyphicon.css}">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/diu.main.css}">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/diu.shop.css}">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/diu.diucmt.css}">
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/style.css}">
    <script type="text/javascript" th:src="@{/sale/js/shopcar/diu.js}"></script>
    <script type="text/javascript" th:src="@{/sale/js/shopcar/com.js}"></script>
    <script type="text/javascript" th:src="@{/sale/js/shopcar/tpl.js}"></script>
    <script type="text/javascript" th:src="@{/sale/js/shopcar/jquery.js}"></script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ea740f0e930d61d16171ae2047cf55dc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">
        $(function () {
            getPrice();
            //增加修改
            $(".amount-increase").click(function () {
                var num=$(this).prev().val();
                num++;
                var price=$(this).prev().prev().prev().prev().text();
                var id=$(this).prev().prev().prev().text();
                $(this).prev().val(num);
                $(this).parent().parent().parent().next().children().children().children().children().children().eq(1).text(num*price);
                $.ajax({
                    url:"/sale/itemNumChange?num="+num+"&price="+num*price+"&id="+id,
                    success:function () {
                    }
                });
                window.location.reload();
                getPrice();
            });
            //减少修改
            $(".amount-decrease").click(function () {
                var num=$(this).next().val();
                if (num>1){
                    num--;
                }
                var price=$(this).prev().prev().text();
                var id=$(this).prev().text();
                $(this).next().val(num);
                $(this).parent().parent().parent().next().children().children().children().children().children().eq(1).text(num*price);
                $.ajax({
                    url:"/sale/itemNumChange?num="+num+"&price="+num*price+"&id="+id,
                    success:function () {
                    }
                });
                window.location.reload();
                getPrice();
            });
            $(".remove").click(function () {
                var id=$(this).prev().text();
                if (confirm("确认删除吗？")){
                    $.ajax({
                        url:"/sale/itemDelete?id="+id
                    });
                    getPrice();
                }else {
                    return;
                }
            });
            //全选全不选
            $("#checkAll").click(function () {
                var flag = this.checked;
                $(".xuan").each(function(){
                    this.checked=flag;
                });
                getPrice();
            });
            $(".xuan").click(function () {
                getPrice();
            });
        });
        
        function addToOrder() {
            var totalPrice = $("#totalPrice").text();
            if (totalPrice<=0){
                alert("请选择商品，再结算");
            } else {
                var carIds=total();
                var form = $("#toOrder");
                var pay = "/sale/pay?totalPrice="+totalPrice+"&carIds="+carIds;
                form.attr('action',pay);
                form.submit();
            }

        }
        //复选框检查
        function chackstate() {
            var length = $(".xuan:checked").length;
            var len=$(".xuan").length;
            if(len==length){
                $("#checkAll").get(0).checked=true;
            }else {
                $("#checkAll").get(0).checked=false;
            }
        }
        //获取总价
        function getPrice(){
            var keys = new Array();
            keys=total();
            var sum=0;
            for (var k =0;k<keys.length;k++){
                for (var i=0;i<items.length;i++){
                    if (keys[k] == items[i].id){
                        var num = parseInt(items[i].num);
                        var mPrice=items[i].mprice;
                        sum+=num*mPrice;
                    }
                }
            }
            $("#totalPrice").text(sum);
        }
        //获取被选中的商品id
        function total() {
            var keys=new Array();
            $(".xuan:checked").each(function () {
                keys.push($(this).val());
            });
            return keys;
        }
    </script>
    <script th:inline="javascript">
        var items=[[${carItems}]];
    </script>
    <link rel="stylesheet" th:href="@{/sale/css/shopcar/diu.shop.cart.css}">
</head>
<body>
<!--头部-->
<div id="header">
    <div class="toper">
        <div class="wrapper">
            <div class="top-nav">
               <a class="link" href="/sale/personal" target="_self" style="font-size: 20px">个人中心</a>
                <!--<a class="link" href="http://www.diu8diu.com/diu-ucenter/?ctl=orders" target="_self">我的订单</a>-->
            </div>
            <div class="account-sign-status">
                <span id="welcome">欢迎来到<a href="/sale/index">我的网站</a>！</span>
                <span id="user" class="user-status" th:if="${session.customer==null}"><a href="/sale/login" class="username"  th:text="登录"></a></span>
                <span id="user_status" class="user-status" th:if="${session.customer!=null}"><a href="" class="username"  th:text="${session.customer.realname}"></a><a class="logout" href="/sale/logout">退出</a></span>
            </div>
            <div class="top-cart">
                <a class="cart" href="/sale/shoppingCar" style="font-size: 20px"><i class="glyphicon glyphicon-shopping-cart" ></i>我的购物车</span>）</a>
            </div>
        </div>
    </div>
    <div class="header-line">
        <div class="wrapper">
            <div class="logo"><a href=""><img th:src="@{/sale/img/logo.png}" style="width: 930px;height: 70px"  alt="丢丢定制" title="丢丢定制"></a></div>
        </div>
    </div>
    <div class="topdmenu">
        <div class="wrapper">
            <div class="main-nav" id="main_nav">
                <a href="/sale/index">首页</a>
            </div>
            <div class="top-cart">
            </div>
        </div>
    </div>
    <div class="topdmenufoot"></div>
</div>
<!--主内容区-->
    <div class="cart-section">
        <h1 class="header">我的购物车</h1>
        <div class="section">
            <div id="cart_goods">
                <div class="cart-goods">
                    <div class="cart-goods-thead" id="cart_goods_thead">
                        <div class="col col-check">
                            <div class="col-inner"><label><input type="checkbox" name="check_all" checked="" id="checkAll"
                                                                 value="">全选</label></div>
                        </div>
                        <div class="col col-name" style="padding-left: 20px">
                            <div class="col-inner">商品</div>
                        </div>
                        <div class="col col-price">
                            <div class="col-inner">原价</div>
                        </div>
                        <div class="col col-price">
                            <div class="col-inner">现价</div>
                        </div>
                        <div class="col col-amount">
                            <div class="col-inner">数量</div>
                        </div>
                        <div class="col col-sum">
                            <div class="col-inner">小计(元)</div>
                        </div>
                        <div class="col col-operate">
                            <div class="col-inner">操作</div>
                        </div>
                    </div>
                    <div class="cart-goods-tbody" name="cart_goods_list">
                        <div th:if="${carMap.size()==0}">
                            <center><h1 style="font-size: 40px;color: #ff434b">快去购物吧~~！！！</h1></center>
                        </div>
                        <ul class="goods current" name="item" th:each="items:${carMap}">
                            <li class="item-goods" th:each="item:${items.value}">
                                <h3 th:text="${item.storeName}"></h3>
                                <div class="col col-name">
                                    <div class="col-inner">
                                        <div class="col col-check">
                                            <div class="col-inner"><input type="checkbox"  checked="" class="xuan" onclick="chackstate()" th:value="${item.id}"></div>
                                        </div>
                                        <div class="item-pic">
                                            <a href="" target="_blank">
                                                <img class="thumbnail" th:src="${item.pic}">
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <a class="item-title" href="" target="_blank" th:text="${item.goodsName}"></a>
                                            <div class="item-spec"><b th:text="${item.colorName}"></b>,<b th:text="${item.sizeName}"></b></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-price">
                                    <div class="col-inner">
                                        <div class="item-price">
                                            <div class="price-line">
                                                <span class="money"><em>￥</em><b th:text="${item.sPrice}"></b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-price">
                                    <div class="col-inner">
                                        <div class="item-price">
                                            <div class="price-line">
                                                <span class="money"><em>￥</em><b th:text="${item.mPrice}"></b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-amount">
                                    <div class="col-inner">
                                        <div class="item-amount">
                                            <p hidden th:text="${item.mPrice}"></p>
                                            <p hidden th:text="${item.id}"></p>
                                            <a class="amount-do amount-decrease" name="amount_decrease">-</a>
                                            <input type="text" class="text text-amount" name="amount_input" price="48" suit_id="0" gid="264" pid="2259" z1="" z2="" z3="0" th:value="${item.num}">
                                            <a class="amount-do amount-increase" name="amount_increase">+</a>
                                        </div>
                                        <div class="amount-msg"></div>
                                    </div>
                                </div>
                                <div class="col col-sum">
                                    <div class="col-inner">
                                        <div class="item-sum">
                                            <div class="price-line">
                                                <!--<span th:text="${carItems.size()}" hidden="hidden" id="length"></span>-->
                                                <span class="money"><em>￥</em><b name="item_sum" th:text="${item.price}" class="price"></b></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-operate">
                                    <div class="col-inner">
                                        <div class="item-operate">
                                            <p hidden th:text="${item.id}"></p>
                                            <a href="" class="remove">删除</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <hr style="background-color: red;height: 2px"/>
                        </ul>
                       <div class="cart-action">
                            <div class="cart-sum">
                                <div class="price-sum">合计（不含运费）：<span class="money"><em>￥</em><b name="cart_price_sum" id="totalPrice"></b></span></div>
                            </div>
                            <div class="cart-button">
                                <button type="button" class="btn-cart-submit" name="btn_checkout" onclick="addToOrder()">去结算</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form hidden="hidden" method="post" id="toOrder"></form>
<!--底部-->
    <div id="footer">
    <div class="footer-section">
        <div class="wrapper">
            <div class="col-contact"><h3>DIU8DIU · 丢丢定制平台</h3><p class="text1">打造一个从事个性化定制服务的商业平台，致力于通过互联网为用户提供全面的个性化服饰体验！</p><p class="text2">QQ 客服： 2275370591    13689427<br>客服热线： 400-0156-002 或 18554169888</p></div>
            <div class="col-cates">
                <dl class="item1">
                    <dt>公司信息</dt>
                    <dd><a href="" target="_self">公司介绍</a></dd>

                    <dd><a href="" target="_self">合作伙伴</a></dd>

                    <dd><a href="" target="_self">人才招聘</a></dd>

                    <dd><a href="" target="_self">联系我们</a></dd>

                </dl>
                <dl class="item2">
                    <dt>产品服务</dt>

                    <dd><a href="" target="_self">新闻中心</a></dd>

                    <dd><a href="" target="_self">案例展示</a></dd>

                    <dd><a href="" target="_self">公司视频</a></dd>

                </dl>

                <dl class="item3">
                    <dt>帮助支持</dt>

                    <dd><a href="" target="_self">常见问题</a></dd>

                    <dd><a href="" target="_self">文档下载</a></dd>

                    <dd><a href="" target="_self">用户协议</a></dd>

                    <dd><a href="" target="_self">隐私政策</a></dd>
                </dl>
            </div>
            <div class="col-qrcode"><img class="img-responsive" th:src="@{/sale/img/qrcode.jpg}" alt="qrcode">
                <h3>官方微信</h3><p>关注我们 · 更多优惠</p>
            </div>
        </div>
    </div>
    <div class="powered-by">
        <div class="wrapper">
            <div class="copyright">
                Copyright © <a href="http://www.diu8diu.com/" target="_blank">丢丢定制</a> 2016-2017 ALL Rights Reserved <span class="icp"><a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">鲁ICP备14011980号-1</a></span><i class="stat"></i></div>
        </div>
    </div>
</div>
</body>
</html>