<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>欢迎进入服装管理系统</h1>
<form action="/addBrand" method="post">
    <input type="text" required placeholder="请输入品牌名称" name="name"><br/>
    <input type="text" required placeholder="请输入品牌状态" name="state"><br/>
    <input type="text" required placeholder="请输入品牌图片地址" name="pic"><br/>
    <input type="text" required placeholder="请输入店铺id" name="storeId"><br/>
    <input type="submit" value="提交">
</form>
</body>
</html>