@charset "utf-8";
/* 
* PC端
* Author: ZZQ
* http://www.diu8diu.com/
*/
html {font-size:100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }
body {background:#fff; min-width:600px;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin:0;padding:0}
body,button,input,select,textarea,th {color:#444; font:14px/1.8 "Helvetica Neue",Helvetica,Arial,微软雅黑,"Hiragino Sans GB",tahoma,simsun,宋体;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
li {list-style:none}
img { border:0px; page-break-inside:avoid; margin:0px; padding:0px; -ms-interpolation-mode:bicubic; max-width:100%; vertical-align:middle;}
input[type="button"],input[type='submit'] {cursor:pointer}
button {cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
a {text-decoration:none;}
a,a:visited {color:#444;}
a:hover { color:#ff6700; text-decoration:none; }
:focus {outline:none;}
button,input,textarea,select,a,a:focus {outline:none;}
.clear { clear:both;}
.hid,
.hidden{ display:none;}
.fl {float:left;}
.fr {float:right;}
.ml5 {margin-left:5px;}
.ml8 {margin-left:8px;}
.mt5{ margin-top:5px;}
.ml10 {margin-left:10px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.transparent {filter:alpha(opacity=80);-khtml-opacity:0.8;-moz-opacity:0.8;opacity:0.8;}
.transparent_95 { filter:alpha(opacity=95); -khtml-opacity:0.95; -moz-opacity:0.95; opacity:0.95;}
.wrapper { margin:auto; width:1200px;}
.clearfix {}
.clearfix::before,
.clearfix::after { content: " "; display: table;}
.clearfix::after { clear: both;}

/*表单 input check radio textarea select button*/
input[type="radio"],
input[type="checkbox"] {
	margin:0px 5px 0px 0px; padding:0px; vertical-align:middle;
	}
input.text,
textarea.textarea {
	background-color:#fff; border:1px solid #aaa;
	-webkit-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.025);
	-moz-box-shadow:inset 0px 1px 1px rgba(0,0,0,0.025);
	box-shadow:inset 0px 1px 1px rgba(0,0,0,0.025);
	color:#333; font-size:12px;
	padding:0px 5px 0px 5px;
	-webkit-transition:border linear .2s,box-shadow linear .2s;
	-moz-transition:border linear .2s,box-shadow linear .2s;
	-o-transition:border linear .2s,box-shadow linear .2s;
	transition:border linear .2s,box-shadow linear .2s;
	width:240px;
	}
input.text {height:28px; line-height:28px;}
input.text-long {width:400px;}
input.text-short {width:160px;}
input.text-short-mini {width:80px;}
input.text-mini {height:18px; line-height:18px; width:114px;}
input.text-fileurl {width:300px;}
input.text-filename {width:120px;}
input.text-imageurl {border:1px dashed #bbb; width:272px;}
input.text-large {font-size:14px; height:32px; line-height:32px;}
input.text-err,
textarea.textarea-err { background-color:#fffafa; border-color:#d80000; -webkit-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); -moz-box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175); box-shadow:inset 0px 1px 1px rgba(225,0,0,0.175);}
iframe.iframe-upload{ width:160px; display:inline; height:30px; overflow:hidden; vertical-align:middle;}
input.text-file{
	background-color:#fcfcfc; border:1px solid #aaa; height:26px; line-height:26px; width:156px;
	padding:0px 0px!important;
	padding:0px 0px\0 !important;
	*padding:2px 0px !important;
	_padding:2px 0px !important;
	}

/**文本域**/
textarea.textarea { height:80px; line-height:20px; padding-top:2px; padding-bottom:2px; width:400px;}
textarea.textarea-mini {height:60px;}
textarea.textarea-high {height:160px;}
textarea.textarea-summary {height:60px; width:660px;}
textarea.textarea-long {height:80px; width:660px;}
textarea.textarea-editor {height:300px; width:650px;}
/**下拉**/
select {
	border:1px solid #bbb; color:#333; height:30px; line-height:30px;
    margin:0px 0px; padding:3px;
	vertical-align:top;
}
select option {border-bottom:1px solid #f4f4f4; height:18px; line-height:18px; padding:4px 3px 1px 5px;}
select optgroup {font-style:normal; padding:2px 0px 2px 0px;}
select optgroup option:first-child {margin-top:3px;}
/**聚焦和经过状态**/
input.text:hover,
input.text:focus,
textarea.textarea:hover,
textarea.textarea:focus,
select:hover,
select:focus {
	background:#fcfcfc;
	border:1px solid #3498db;
	color:#000;
	-webkit-box-shadow:0px 0px 3px #6bafdc;
	-moz-box-shadow:0px 0px 3px #6bafdc;
	box-shadow:0px 0px 3px #6bafdc;
	}
/**无效状态**/
input.disabled,
input.disabled:hover,
input.disabled:focus,
select.disabled,
select.disabled:hover,
select.disabled:focus {
	background:#eee;
	border:1px solid #ccc;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#888;
	text-shadow:0px 0px 1px #fff;
}
/**时间**/
input.text-datetime,
input.text-datetime:hover,
input.text-datetime:focus {background-image:url("../images/icons/datetime.png"); background-repeat:no-repeat; background-position:center right;}

/*各种按钮*/
button,input[type="button"],input[type="reset"],input[type="submit"] { cursor:pointer; -webkit-appearance:button;}
.btn,.btn:visited {
	background-color:#eee;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F6F6F6), color-stop(100%, #E6E6E6));
	background-image:-webkit-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:-moz-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:-o-linear-gradient(#F6F6F6,#E6E6E6);
	background-image:linear-gradient(#F6F6F6,#E6E6E6);
	-webkit-box-shadow:#fff 0px 1px 0px inset; -moz-box-shadow:#fff 0px 1px 0px inset; box-shadow:#fff 0px 1px 0px inset;
	border:1px solid #aaa; border-bottom-color:#888; color:#555; font-family:"微软雅黑"; text-shadow:0px 1px 0px #f8f8f8; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	display:inline-block; position:relative;
}
.btn:hover {
	background-color:#ddd;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8e8e8), color-stop(100%, #d8d8d8));
	background-image:-webkit-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-moz-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:-o-linear-gradient(#e8e8e8,#d8d8d8);
	background-image:linear-gradient(#e8e8e8,#d8d8d8);
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset; -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset; box-shadow:rgba(0,0,0,0.3) 0 1px 3px,#fff 0px 1px 0px inset;
	border-color:#888; border-bottom-color:#666; color:#333; text-decoration:none;
}
/**按钮大小**/
.btn {
	font-size:14px; font-weight:bold; line-height:18px;
	padding:4px 15px!important;
	padding:4px 17px\0 !important;
	*padding:2px 4px !important;
	_padding:2px 4px !important;
}
a.btn {
	padding:5px 18px!important;
	padding:4px 17px\0 !important;
	*padding:4px 18px !important;
	_padding:4px 18px !important;
}

.btn-mini {
	font-size:10px; font-weight:normal; line-height:12px;
	padding:2px 5px!important;
	padding:2px 7px\0 !important;
	*padding:2px 0px !important;
	_padding:2px 0px !important;
	}
a.btn-mini {
	font-size:10px; font-weight:normal; line-height:12px;
	padding:3px 8px!important;
	padding:2px 7px\0 !important;
	*padding:2px 8px !important;
	_padding:2px 8px !important;
}

.btn-small {
	font-size:12px; font-weight:normal; line-height:16px;
	padding:3px 10px!important;
	padding:3px 12px\0 !important;
	*padding:1px 2px !important;
	_padding:1px 2px !important;
	}
a.btn-small {
	font-size:12px; font-weight:normal; line-height:16px;
	padding:4px 13px!important;
	padding:3px 12px\0 !important;
	*padding:3px 13px !important;
	_padding:2px 13px !important;
}

.btn-sbig {
	font-size:14px; font-weight:bold; line-height:20px;
	padding:4px 18px!important;
	padding:4px 20px\0 !important;
	*padding:2px 7px !important;
	_padding:2px 7px !important;
}
a.btn-sbig {
	padding:5px 21px!important;
	padding:4px 20px\0 !important;
	*padding:4px 22px !important;
	_padding:4px 22px !important;
}

.btn-large {
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-size:16px; line-height:22px;
	padding:5px 24px!important;
	padding:6px 26px\0 !important;
	*padding:3px 9px !important;
	_padding:4px 9px !important;
}
a.btn-large {
	padding:6px 27px!important;
	padding:6px 26px\0 !important;
	*padding:6px 28px !important;
	_padding:7px 28px !important;
}

.btn-xlarge {
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-size:20px; line-height:24px; padding:10px 46px;
	padding:8px 40px!important;
	padding:10px 40px\0 !important;
	*padding:5px 17px !important;
	_padding:4px 18px !important;
	}
a.btn-xlarge {
	padding:9px 43px!important;
	padding:10px 40px\0 !important;
	*padding:9px 44px !important;
	_padding:9px 45px !important;
	}

.btn-download{
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-size:16px; line-height:22px;
	padding:5px 24px!important;
	padding:6px 26px\0 !important;
	*padding:3px 9px !important;
	_padding:4px 9px !important;
	}
a.btn-download{
	padding:6px 27px!important;
	padding:6px 26px\0 !important;
	*padding:6px 28px !important;
	_padding:7px 28px !important;
	}
/**按钮颜色-状态**/
.btn-primary,.btn-primary:visited {
	background-color:#37548e;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e5e9c), color-stop(100%, #304a80));
	background-image:-webkit-linear-gradient(#3e5e9c,#304a80);
	background-image:-moz-linear-gradient(#3e5e9c,#304a80);
	background-image:-o-linear-gradient(#3e5e9c,#304a80);
	background-image:linear-gradient(#3e5e9c,#304a80);
	-webkit-box-shadow:#6783bb 0 1px 0 inset; -moz-box-shadow:#6783bb 0 1px 0 inset; box-shadow:#6783bb 0 1px 0 inset;
	border:1px solid #273c67;
	border-bottom-color:#22355d;
	color:#eee;
	text-shadow:0px 1px 0px #2e467c;
}
.btn-primary:hover {
	background-color:#2c4475;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%,#314b81), color-stop(100%,#22345b));
	background-image:-webkit-linear-gradient(#314b81,#22345b);
	background-image:-moz-linear-gradient(#314b81,#22345b);
	background-image:-o-linear-gradient(#314b81,#22345b);
	background-image:linear-gradient(#314b81,#22345b);
	-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	-moz-box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	box-shadow:rgba(0, 0, 0, 0.5) 0 1px 3px,#48659e 0 1px 0 inset;
	border-color:#1a2a4b;
	border-bottom-color:#152441;
	color:#fff;
}
.btn.disabled,.btn.disabled:hover {
	background-color:#ddd; background-image:none;
	-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
	border-color:#bbb; color:#888; cursor:default; font-weight:normal; text-shadow:0px 1px 0px #fff;
}
/**特殊表单**/
.btn-upload{
	-webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px;
	font-size:12px; font-weight:bold; line-height:16px;
	padding:4px 15px!important;
	padding:4px 17px\0 !important;
	*padding:3px 4px !important;
	_padding:2px 4px !important;
}

/**按钮**/
a.abtn{ display:inline-block!important; font-size:18px; font-weight:normal; height:18px; line-height:18px; padding:12px 23px; width:auto;
        -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
	  }
a.abtn:hover{ text-decoration:none;}
a.abtn-white{ background-color:#fff; color:#006cb5; }
a.abtn-white:hover{ background-color:#eee;}

a.abtn-lblue{ background:#0db08f; color:#fff; }
a.abtn-lblue:hover{ background-color:#078f73;}
a.abtn-blue{ background:#3178cc; color:#fff; }
a.abtn-blue:hover{ background:#0a56b1; }
a.abtn-black{ background:#384050; color:#fff; }

/**表单**/
.form {}
.form-group {border-bottom:1px dotted #ddd; padding:5px 0px 5px 0px;}
.form-group:before,
.form-group:after { display:table; line-height:0; content:"";}
.form-group:after { clear:both;}
.form-group .col-name {float:left; font-size:14px; font-weight:bold; height:20px; line-height:20px; padding:3px 15px 3px 0px; width:100px; text-align:right;}
.form-group .col-name .important {color:#f00; padding:2px 5px 0px 0px;}
.form-group .col-value {padding:3px 0px 3px 115px;}
.form-group .verifycode {}
.form-group .verifycode img {height:26px; vertical-align:middle;}
.form-group .verifycode .fresh {background:#f6f6f6; border:1px solid #aaa; display:inline-block; vertical-align:top; font-size:12px; font-family:"微软雅黑"; height:26px; padding:0px 6px;}

/*水平表单*/
.form-horizontal {padding:20px; }
.form-horizontal .control-group {margin-bottom:20px;}
.form-horizontal .control-group .control-label {float:left; font-size:14px; padding:4px 12px 0px 0px; text-align:right; width:100px;}
.form-horizontal .control-group .controls {padding-left:112px; }
.form-horizontal .control-group .controls .checkbox-line {display:block; padding:0px 0px 15px 0px;}



/*表单行为*/
.form-actions {padding:20px 0px 0px 115px;}
.form-actions:before,
.form-actions:after {display:table; line-height:0; content:"";}
.form-actions:after {clear:both;}
.form-actions .btn {margin-right:8px;}

a.forget-password{ margin-left:20px;}


/*表格*/
.table { width:100%;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { border-top:1px solid #dddddd; line-height:1.428571429; padding:8px; vertical-align:top; }
.table > thead > tr > th { border-bottom: 2px solid #dddddd; vertical-align: bottom; }
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top:0; }
.table > tbody + tbody { border-top:2px solid #dddddd;}
.table .table { background-color:#ffffff; }
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td { padding:5px;}
.table-bordered {border: 1px solid #dddddd;}
.table-auto { width:auto;}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td { border:1px solid #dddddd; }
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td { border-bottom-width:2px; }
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th { background-color:#f9f9f9; }
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th { background-color:#f5f5f5; }
table col[class*="col-"] { position:static; display:table-column; float:none;}
table td[class*="col-"],
table th[class*="col-"] { display:table-cell; float:none;}
.table > thead > tr > .active,
.table > tbody > tr > .active,
.table > tfoot > tr > .active,
.table > thead > .active > td,
.table > tbody > .active > td,
.table > tfoot > .active > td,
.table > thead > .active > th,
.table > tbody > .active > th,
.table > tfoot > .active > th { background-color:#f5f5f5; }
.table-hover > tbody > tr > .active:hover,
.table-hover > tbody > .active:hover > td,
.table-hover > tbody > .active:hover > th { background-color:#e8e8e8; }
.table > thead > tr > .success,
.table > tbody > tr > .success,
.table > tfoot > tr > .success,
.table > thead > .success > td,
.table > tbody > .success > td,
.table > tfoot > .success > td,
.table > thead > .success > th,
.table > tbody > .success > th,
.table > tfoot > .success > th { background-color:#dff0d8; }
.table-hover > tbody > tr > .success:hover,
.table-hover > tbody > .success:hover > td,
.table-hover > tbody > .success:hover > th { background-color:#d0e9c6; }
.table > thead > tr > .danger,
.table > tbody > tr > .danger,
.table > tfoot > tr > .danger,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td,
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th { background-color:#f2dede; }
.table-hover > tbody > tr > .danger:hover,
.table-hover > tbody > .danger:hover > td,
.table-hover > tbody > .danger:hover > th { background-color:#ebcccc; }
.table > thead > tr > .warning,
.table > tbody > tr > .warning,
.table > tfoot > tr > .warning,
.table > thead > .warning > td,
.table > tbody > .warning > td,
.table > tfoot > .warning > td,
.table > thead > .warning > th,
.table > tbody > .warning > th,
.table > tfoot > .warning > th { background-color:#fcf8e3; }
.table-hover > tbody > tr > .warning:hover,
.table-hover > tbody > .warning:hover > td,
.table-hover > tbody > .warning:hover > th { background-color:#faf2cc; }

/*分页*/
.pager {clear:both; display:block; margin:15px 5px 10px 0px; text-align:center;}
.pager a,.pager a:active,.pager a:link,.pager a:visited { background:#fff; border:1px solid #ccc; color:#424242; clear:both; font-size:12px; font-weight:bold; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px; text-decoration:none; }
.pager a:hover { background:#fff; border:1px solid #c60000; color:#c60000; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px; text-decoration:none; }
.pager span.current { background:#c60000; border:1px solid #c60000; color:#fff; font-size:12px; font-weight:bold; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px;}
.pager span.extend,.pager span.unlink { background:#fafafa; border:1px solid #ccc; color:#666; font-size:12px; font-weight:bold; margin:2px 6px 2px 0px; padding:8px 10px 8px 10px;}

/*弹出框*/
.diu-dialog{ -webkit-box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; -moz-box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; box-shadow:rgba(0,0,0,0.5) 0px 0px 6px; padding:0px; position:absolute; z-index:1001; top:80px; left:200px;}
.diu-dialog-wrapper{ background:#fff;}
.diu-dialog-titleBar{ cursor:move; position:relative;}
.diu-dialog-title{ background:#395692; color:#fff; height:24px; line-height:24px; padding:0px 10px; left:0px;}
.diu-dialog-close{ background-image:url("../images/dialog-close.png"); background-position:0px 0px; display:inline-block; height:24px; width:24px; overflow:hidden; position:absolute; right:1px; top:1px;}
.diu-dialog-close:hover{ background-color:#fff; background-position:0px -24px;}
.diu-dialog-main{ }
.diu-dialog-content{ background:#fcfcfc; border:1px solid rgba(0,0,0,0.8); border-bottom:none; overflow:auto;}
.diu-dialog-content-success { background:#17a000; border:1px solid rgba(0,0,0,0.2); color:#fff; font-size:14px;}
.diu-dialog-content-error   { font-size:14px; padding:13px 18px 13px 18px;}
.diu-dialog-content-error h5.error-text{ color:#424242; font-weight:normal; }
.diu-dialog-content-error dl.error-msg{ border-top:1px dotted #ddd; margin-top:6px; padding-top:6px;}
.diu-dialog-content-error dl.error-msg dt{ color:#aaa; display:none; font-weight:bold; padding:0px 0px 5px 0px;}
.diu-dialog-content-error dl.error-msg dd{ color:#d10000; font-size:14px; }
.diu-dialog-content-alert{ color:#d10000; font-size:14px;}
.diu-dialog-loading{ background:url("../images/loading.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.diu-dialog-posting{ background:url("../images/posting.gif") 0px 0px no-repeat; color:#aaa; font-size:16px; height:32px; line-height:32px; padding:0px 20px 0px 48px;}
.diu-dialog-iframe{ height:100%; width:100%;}
.diu-dialog-footer{ border-bottom:1px solid rgba(0,0,0,0.8); }
.diu-dialog-buttons{ background:#f6f6f6; border-left:1px solid rgba(0,0,0,0.8); border-right:1px solid rgba(0,0,0,0.8); border-top:1px solid #eee; padding:10px 20px; text-align:center;}
.diu-dialog-buttons button{ margin:0px 5px;}
.diu-dialog-timeout{ color:#121212; bottom:-25px; position:absolute; text-align:center; text-shadow:0px 1px 0px rgba(255,255,255,0.28);  width:100%;}
.diu-dialog-shadow{ background-color:#000; filter:alpha(opacity=60); opacity:0.6; left:0px; top:0px; width:100%; height:100%; position:fixed; visibility:visible; z-index:1000;}
.diu-dialog-shadow iframe{ filter:alpha(opacity=10); opacity:0.1;}
.diu-dialog .server-data{ border-top:1px dotted #e6e6e6; color:#999; display:none; margin:5px 0px 0px 0px; padding-top:5px; word-break:break-all; word-wrap:break-word;}




